@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


nav{
    margin: 0 6%;
    top: 0;
    left:0;
    display: flex;
}


.lists{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
    margin: 10% 0;
    gap: 1rem;
}
.lists p{
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    display: flex;
}
.contact-menu{
    padding: 0 50px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.nav-left{
    font-size: 30px;
    font-weight: 100;
}
.nav-left i{
    cursor: pointer;
}
.nav-right{
    font-size: 27px;
}
.carousel-caption .butt{
    padding: 5px 0px;
    background-color: black;
}
.carousel-caption .btn:hover{
    background-color: red;
}
.carousel-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Center the carousel caption */
.carousel-caption {
    position: absolute;
    left: 50%;
    text-align: center;
}

/* Adjust caption button spacing */

.part2{
    margin-top: 1.5%;
    height: 30vh;
    width: 100%;
    color: black;
}
.categories{
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
}
.categories p{
    cursor: pointer;
    font-weight: bold;
}
.part2 hr{
    margin: 0 8%;
}
.part3{
    height: 130vh;
    width: 100%;
}
.part3 h1{
    text-align: center;
    font-size: 32px;
    margin-bottom: 4%;
}
.boxs{
    display: flex;
    gap: 6rem;
    justify-content: center;
}
.bg-white{
    background-color: white;
}
.card-body .p1{
    font-size: 17px;
}
.card-text{
    font-size: 17px;
    line-height: 1.75;
}
.card{
    cursor: pointer;
}
.btn:hover{
    background-color: red !important;
    color: white;
}
.cardbtn{
    text-align: center;
    margin-top: 33px;
}
.cardbtn button{
    font-size: 20px;
    font-weight: 600;
    padding: 9px 28px;
}
.part4{
    height: 100vh;
    width: 100%;
}
.night{
    background-image: url('./Assets/BRABUS-NIGHT.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}
.night p{
    color: white;
    font-size: 25px;
    padding-right: 9%;
    text-align: end;
    position: absolute;
    right: 0;
    bottom: 20%;
}
.night a{
    margin-right: 9%;
    padding: 9px 25px;
    text-align: end;
    position: absolute;
    right: 0;
    bottom: 4%;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 15px;
}
.g63{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}
.g63-1{
    width: 50%;
    background-image: url('./Assets/BRABUS\ 800\ 4x4²\ Stealth\ Green\ Outdoor_klein\ \(11\)-1281x1280.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 19%;
    cursor: pointer;
}
.g63-1 p:nth-child(1){
    color: white;
    font-size: 30px;
    font-weight: bolder;
    max-width: 12ch;
    letter-spacing: 2px;
    line-height: 1.2;
}
.g63-1 p:nth-child(2){
    color: white;
    font-size: 30px;
    line-height: 0;
    letter-spacing: 2px;
}
.g63-2{
    width: 50%;
    background-image: url('./Assets/BRABUS\ 800\ 4x4²\ Superblack_Outdoo_klein\ \(106\)-1045x1044.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 25%;
    cursor: pointer;
}
.g63-2 p:nth-child(1){
    color: white;
    font-size: 30px;
    font-weight: bolder;
    max-width: 12ch;
    letter-spacing: 2px;
    line-height: 1.2;
}
.g63-2 p:nth-child(2){
    color: white;
    font-size: 30px;
    line-height: 0;
    letter-spacing: 2px;
}
.porsche{
    height: 120vh;
    width: 100%;
    background-image: url('./Assets/BRABUS\ 820\ -\ 911\ Turbo\ S\ Cabrio\ Outdoor.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 7%;
}
.porsche h3{
    font-size: 25px;
    letter-spacing: 2px;
}
.porsche p{
    font-size: 17px;
    word-spacing: 1px;
}
.porsche button{
    padding: 8px 25px;
    font-size: 14px;
    letter-spacing: 1px;
     margin-top: 10px;
}
#supercars{
    margin-bottom: 10px;
    font-size: 18px;
}

.part5 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 122%;
    bottom: 0;
  }
  
  .img-box img{
    max-width: 100%;
}
.slider-container .container1{
    padding: 30px 15px;
    max-width: 1230px ;
    margin: 0 auto;
}
.card_slider{
    padding: 50px 0;
   
}
.name p:nth-child(1){
    letter-spacing: 1px;
}
.name p:nth-child(2){
    line-height: 0;
    word-spacing: 2px;
    font-size: 17px;
}
.part6{
    height: 155vh;
    width: 100%;
}
.ktm-pane{
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: space-between;

}
.ktm{
    width: 50%;
    height: 100vh;
    background-image: url('./Assets/KTM.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
}
.pane{
    width: 50%;
    height: 100vh;
    background-image: url('./Assets/pane.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 25%;

}
.ktm p{
    color: white;
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 60%;
    font-weight: 100;
}
.ktm p:nth-child(2){
    color: white;
    font-size: 30px;
    line-height: 0;
    letter-spacing: 2px;
}
.pane p{
    color: white;
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 1.2;
    margin-top: 55%;

}
.pane p:nth-child(2){
    color: white;
    font-size: 30px;
    line-height: 0;
    letter-spacing: 2px;
}
.marine{
    height: 100vh;
    width: 100%;
    background-image: url('./Assets/Marine.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.marine p{
    color: white;
    letter-spacing: 1px;
    font-size: 25px;
    
}
.marine button{
    font-size: 14px;
    padding: 8px 25px;
    letter-spacing: 1px;
}
.constan{
    height: 110vh;
    width: 100%;
    display: flex;
}
.constan1{
    background-image: url('./Assets/constan.jpg');
    width: 50%;
    height: 110vh;
    position: relative;
    background-position: center;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    padding-top: 15px;
}
.constan1 button{
    font-size: 14px;
    padding: 8px 29px;
}
.constan2{
    background-image: url('./Assets/constan2.jpg');
    width: 50%;
    height: 110vh;
    position: relative;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30%;
}
.constan2 p{
      color: black;
}
.constan2 button{
    font-size: 14px;
    padding: 8px 29px;
}
.classic{
    height: 125vh;
    width: 100%;
    background-image: url('./Assets/classic.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.classic h4{
 padding-top: 40%;
 padding-left: 10%;
 letter-spacing: 1px;
padding-bottom: 10px;
}
.classic button{
    margin-left: 10%;
    font-size: 14px;
    padding: 8px 30px;
    letter-spacing: 1px;
}
.part7{
    width: 100%;
    padding-top: 154%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slider-container .container2{
    padding: 30px 15px;
    max-width: 1230px ;
    margin: 0 auto;
    height: 70vh;
}
.img-box2 img{
    max-width: 90%;
    border: 1px solid rgb(236, 235, 235);
}
.collection{
    background-image: url('./Assets/collection.jpg');
    background-position: center;
    background-size: cover;
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.collection h3{
    padding-right: 10%;
    padding-bottom: 10px;
}
.collection button{
    margin-right: 10%;
    padding: 8px 30px;
    font-size: 14px;
    font-weight: 700;
}
.news{
    background-image: url('./Assets/news.jpg');
    background-position: center;
    background-size: cover;
    height: 45vh;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.news p{
   padding-top: 15px;
   color: white;
   margin-right: 20px;
   font-size: 18px;
   font-weight: bold;
}
.news button{
    padding: 8px 30px;
    font-size: 15px;
}
footer{
    height: 35vh;
    width: 100%;
}
.row1{
    margin-top: 7%;
    display: flex;
    gap: 13rem;
    justify-content: center;
}
.row1 p{
    font-size: 18px;
    cursor: pointer;
}
.row1 p:hover{
    color: red;
}
.row2{
    margin-top: 3%;
    display: flex;
    gap: 13rem;
    justify-content: center;
    margin-left: 9%;
}
.row2 p{
    font-size: 18px;
    cursor: pointer;
}
.row2 p:hover{
    color: red;
}
.row-3{
    margin-top: 5%;
    font-size: 13px;
   text-align: center;
   font-weight: bold;
}
  
  
@media (max-width: 767px) {
    .carousel-item {
        height: 100vh;
        width: 200% !important;
    }
    .part1{
        width: 210%;
    }
    .categories{
        gap: 6rem;
    }
    .part3{
        width: 200%;
    }
        .part3 .card {
            width: 100%;
            margin-bottom: 20px;
    }
    .cardbtn button {
        width: 50%;
        margin-top: 0%;
    }
    .boxs{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .night{
        margin-top: 265%;
        width: 200%;
    }
    .part5{
        padding-top: 283%;
    }
    .g63{
        width: 200%;
    }
    .slider-container{
        margin-top: 555%;
    }
    .marine{
        margin-top: 60%;
    }
    .porsche{
        width: 200%;
    }
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
    .container1 {
        width: 100%;
    }
    .part6{
        width: 200%;
    }
    .part8{
        width: 200%;
    }
}